<form action="/createdpost" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br><br>
    
    <label for="description">Task Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>
    
    <input type="submit" value="Submit">
  </form>